@charset "UTF-8";
/* survey.css */

/* font url */

	@font-face {
		font-family: 'S-CoreDream-3Light';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
			format('woff');
		font-weight: normal;
		font-style: normal;
	}
	
	
	@font-face {
		font-family: 'Inkfree';
		src:
			url('${pageContext.request.contextPath}/resources/font/Inkfree.ttf')
			format('truetype');
	}
	
	@font-face {
		font-family: 'IBMPlexSansKR-Regular';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
			format('woff');
		font-weight: normal;
		font-style: normal;
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
			format('woff');
	}
	
	@font-face {
		font-family: 'IBMPlexSansKR-Light';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff')
			format('woff');
		font-weight: normal;
		font-style: normal;
	}






* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
}

/* 테두리 영역 */
#survey-content {
	padding: 150px 10px;
	vertical-align: top;
	/* background-color: ghostwhite; */
	height: 1000px;
	width: 100%;
	background-image: url(../images/surveyImg/syringe.jpg);
	background-size: cover;
}

/* 서베이 전 영역 */
#survey {
	height: 900px;
	color: #333;
	background-color: ghostwhite
}

/* 서베이 네모 겉 틀 */
#survey-inner {
	padding: 0 90px;
	text-align: left;
	position: relative;
	margin: 0 auto;
	width: 900px;
}

/* 서베이 네모 틀 */
#survey-start {
	padding: 40px 150px;
	text-align: left;
	position: relative;
	margin: auto;
	width: 800px;
	background-color: white;
	/* box-shadow: 9px 9px 150px 100px lightsteelblue; */
	box-shadow: 9px 9px 221px 15px lightsteelblue;
}

/* 윗부분 글 */
#start-header {
	line-height: 30px
}

/* x 표시 */
#survey-wrap #survey-content a img {
	vertical-align: top;
	line-height: -18px;
	color: inherit;
	width: 40px;
	height: 40px;
	text-align: center;
	float: right;
	z-index: -1 !important;
	transform: translate(170px, -60px);
}

/*  렛잇비 로고 */
#start-header {
	position: relative;
	line-height: 40px
}

.logo {
	width: 100%;
	float: right;
	margin: auto;
	margin-right: -60px;
	margin-top: 50px;
}

/* 윗부분 글 */
#start-header #brand {
	font-size: 50px;
	line-height: 40px;
	font-weight: bolder;
	font-family: 'S-CoreDream-3Light';
	padding-top: 50px;
	letter-spacing: 7px;
	text-align: center;
	margin-top: 30px;
}

#brand-text {
	font-family: 'Inkfree';
	font-size: 30px;
	padding-top: 40px;
	padding-left: 10px;
	text-align: center;
	letter-spacing: 2px;
}

#start-intro p {
	font-family: 'IBMPlexSansKR-Light';
	text-align: center;
	margin-bottom: -30px;
	letter-spacing: 1px;
}

/* 작은 글 인트로 */
#start-intro {
	width: 100%;
	line-height: 24px;
	font-size: 19px;
	color: #333;
	position: relative;
	margin-top: 150px;
}

/* 시작버튼 */
#btn-start {
	line-height: 50px;
	background-color: #333;
	border: none;
	color: #fff;
	line-height: 50px;
	border-radius: 25px;
	appearance: none;
	display: inline-block;
	padding: 0 36px;
	min-width: 74px;
	height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	width: 100%;
	margin-top: 90px;
}

/* 밑 주의사항 */
#mention {
	margin-top: 30px;
	font-size: 15px;
	color: #848484;
	display: block;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-align: center;
}


/* 모달 */

/* Modal Content */
	#modal-content {
		font-family: 'IBMPlexSansKR-Light';
	  	position: relative;
	    background-color: #fefefe;
	    margin: 200px auto;
	    border: 1px solid #888;
	    width: 550px;
    	height: 300px;
	    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	    -webkit-animation-name: animatetop;
	    -webkit-animation-duration: 0.4s;
	}
	
	/* Add Animation */
	@-webkit-keyframes animatetop {
	  from {top:-300px; opacity:0} 
	  to {top:0; opacity:1}
	}
	
	@keyframes animatetop {
	  from {top:-300px; opacity:0}
	  to {top:0; opacity:1}
	}
	
	/* The Close Button */
	.closeWindow {
	  color: white;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}
	
	.closeWindow:hover,
	.closeWindow:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}
	
	#modal-header {
		padding: 5px 18px;
	    background-color: gray;
	    color: white;
	}
	
	#double-check {
		font-size: 25px;
    	font-weight: 600;
	}
	
	#modal-body {
		padding: 23px 16px;
    	font-size: 21px;
	}
	
	#modal-btn {
	    float: right;
    	margin-top: 100px;
	}
	
	#yes {
	  	background-color: #e7e7e7;
	    border: none;
	    color: black;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 21px;
	    width: 150px;
	    height: 40px;
	    border-radius: 20px;
	    margin: 10px 20px;
	}
	
	#no {
  		background-color: #555555;
	    border: none;
	    color: white;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 21px;
	    width: 150px;
	    height: 40px;
	    border-radius: 20px;
	    margin: 9px 16px;
	}
	