<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store">

	<select id="selectAllProductCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<select id="selectProduct" resultType="prod">
		SELECT PID, PNAME, PPRICE, PINFO, CNAME
		FROM PRODUCT P, CATEGORY C
		WHERE P.CID = C.CID
	</select>
	
	<select id="selectOneProduct" parameterType="_int" resultType="prod">
		SELECT PID, PNAME, PPRICE, PINFO, CNAME
		FROM PRODUCT P, CATEGORY C
		WHERE P.CID = C.CID
		AND P.PID = #{pid}
	</select>

	<select id="selectCategory" parameterType="_int" resultType="prod">
		SELECT PID, PNAME, PPRICE, PINFO, CNAME
		FROM PRODUCT P, CATEGORY C
		WHERE P.CID = C.CID
		AND C.CID = #{cid}
	</select>
	
	<select id="selectAllCategory" resultType="prod">
		SELECT PID, PNAME, PPRICE, PINFO, CNAME
		FROM PRODUCT P, CATEGORY C
		WHERE P.CID = C.CID
	</select>
	
	<select id="selectOneMember" parameterType="string" resultType="Member">
		SELECT USERNAME, EMAIL, PHONE
		FROM MEMBER
		WHERE USERID = #{userId}
	</select>
	
 	<insert id="insertPaymentInfo" parameterType="Payment">
		INSERT INTO ORDERLIST VALUES(#{oid}, #{userId} , DEFAULT, #{totalPrice}, #{ocomment}, #{addressee}, #{address}, #{phone})	
	</insert>
	
	<insert id="insertOneCart" parameterType="Cart">
		INSERT INTO CART VALUES(SEQ_CART_ID.NEXTVAL, #{userId}, #{pid}, DEFAULT)
	</insert>
	
	<select id="selectOneCart" parameterType="Cart" resultType="_int">
		SELECT COUNT(*)
		FROM CART
		WHERE USERID = #{userId}
		AND PID = #{pid}
	</select>
	
	<delete id="deleteCart" parameterType="Cart">
		DELETE 
		FROM CART
		WHERE USERID = #{userId}
		AND PID = #{pid}
	</delete>
	
	<insert id="insertOneCartWithQuantity" parameterType="Cart">
		INSERT INTO CART VALUES(SEQ_CART_ID.NEXTVAL, #{userId}, #{pid}, #{cartquantity})
	</insert>

	<insert id="insertOrderDetail" parameterType="OrderDetail">
		INSERT INTO ORDER_DETAIL VALUES(#{oid}, #{pid}, #{qty})
	</insert>
	
	<select id="selectOrderDetailList" parameterType="string" resultType="OrderDetail">
		SELECT O.OID, O.PID, O.QTY, PNAME, PPRICE, OL.USERID, ol.oenroll, OCOMMENT, ADDRESSEE, ADDRESS, PHONE, TOTALPRICE, PINFO
		FROM ORDER_DETAIL O, PRODUCT P, ORDERLIST OL
		WHERE O.PID = P.PID
		  AND O.OID = OL.OID
		  AND USERID= #{userId}
		ORDER BY OID
	</select>
	
	<select id="selectAllCart" parameterType="string" resultType="Cart">
		SELECT * FROM PRODUCT P,
		(   SELECT *
    		FROM CART
    		WHERE USERID = #{userId} ) B
		WHERE P.PID = B.PID
	</select>
	
	<select id="selectOidList" parameterType="string" resultType="orderDetail">
		SELECT O.OID
		FROM ORDER_DETAIL O, ORDERLIST L
		WHERE O.OID = L.OID
		AND USERID = #{userId}
		GROUP BY O.OID
	</select>
	
	<select id="selectPcount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_DETAIL
		WHERE OID = #{oid}
	</select>
	
	<select id="selectProductList" parameterType="string" resultType="Order">
	SELECT * FROM(
		SELECT * FROM PRODUCT P
		JOIN (SELECT *
		      FROM ORDER_DETAIL
		      WHERE (OID, PID) IN (SELECT OID, PID
		                           FROM(SELECT ROW_NUMBER() OVER(PARTITION BY OID ORDER BY QTY DESC) OID_NO, OID, PID
		                                FROM ORDER_DETAIL)
		                            WHERE OID_NO = 1)) B ON(P.PID = B.PID)
		JOIN ORDERLIST L ON(L.OID = B.OID)) A
		WHERE A.USERID = #{userId}
	</select>
	
	<select id="selectproductDetail" parameterType="string" resultType="Order">
		SELECT O.OID, O.PID, O.QTY, PNAME, PPRICE, OL.USERID, ol.oenroll, OCOMMENT, ADDRESSEE, ADDRESS, PHONE, TOTALPRICE, PINFO
		FROM ORDER_DETAIL O, PRODUCT P, ORDERLIST OL
		WHERE O.PID = P.PID
		AND O.OID = OL.OID
		AND USERID= #{userId}
		ORDER BY OID
	</select>

	<select id="selectCoupon" parameterType="string" resultType="Coupon">
		SELECT C.*
		FROM COUPON C, MEMBER M
		WHERE USERID = #{userId}
		AND C.CID = M.COUPONID
	</select>
</mapper>