@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}


#searchTitle {
    margin-top: 30px;
}

#searchProduct {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1400px;
}

.searchForm
{
    display: flex;
}

.submit {
    display: flex;
}

#new
{
    margin-left: 450px;
}

/* inner */
.inner {
    position: absolute;
    display: block;
    left: 350px;
}



/* 상품 등록 모달창 */
.insertProduct {
    position: absolute;
    width: 1000px;
    height:600px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
    padding: 30px;
    background: white;
    left: 350px;
    top: 200px;
    visibility: hidden;
}

.insertProduct.active {
    visibility: visible;
}

.modalForm {
    margin-bottom: 30px;
}

.modalForm div {
    margin-top: 20px;
}






/*------------------------------------------------------*/

.member {
	display: grid;
	width: 920px;
	/* height: 200px; */
	align-items: center;
	justify-items: center;
}

.member_inner {
	width:920px;
	height:800px;
	/* transform: translate(98px,-50px);*/
	overflow:scroll;
	background-color : var(--white-alpha-25);
    backdrop-filter: var(--backdrop-filter-blur);
    border-radius: 30px;
    
    padding : 30px;
    margin-top:10px;

}
.member_inner::-webkit-scrollbar {
	 display: none;
}

#userId, #pname {
	border-radius : 50px;
}

.searchBtn{
	width:40px;
	height:40px;
	color : #fff;
	background : orange;
	border-radius:50%;
	padding : 3px;
	border : none;
}

.searchBtn i {
	font-size : 24px;
}

.insertBtn {
		width:40px;
	height:40px;
	color : #fff;
	background : orange;
	border-radius:50%;
	padding : 3px;
	border : none;
}